<article id="<%= dom_id note %>" class="relative w-full h-full flex flex-col gap-2 justify-center rounded-lg border border-zinc-400 dark:border-zinc-600 shadow hover:bg-zinc-200 dark:hover:bg-zinc-800">
  <% if note.title.present? %>
    <%= link_to edit_note_path(note),
      id: dom_id(note),
      class: "text-lg p-4 rounded-t-lg" do %>
      <span class="absolute inset-0 z-10"></span>
      <%= note.title %>
    <% end %>

    <p class="p-4 w-full h-full whitespace-pre-line"><%= truncate note.content, length: 280 %></p>
  <% else %>
    <%= link_to edit_note_path(note),
      id: dom_id(note),
      class: "flex-1 p-4 rounded-lg" do %>
      <p class="w-full h-full whitespace-pre-line"><%= truncate note.content, length: 280 %></p>
    <% end %>
  <% end %>

  <div class="flex w-full justify-center pb-2">
    <small class="font-thin text-xs">
      <%= t("notes.index.time_ago", time_ago_in_words: time_ago_in_words(note.created_at, format: :short)) %>
    </small>
  </div>
</article>
