<li id="<%= dom_id note %>" class="w-full rounded-lg border border-zinc-400 dark:border-zinc-600 shadow hover:bg-zinc-200 dark:hover:bg-zinc-800">
  <article class="h-full">
    <%= link_to edit_note_path(note),
      id: dom_id(note),
      class: "h-full p-4 flex flex-col gap-2 rounded-lg" do %>

      <div class="text-lg">
        <%= note.title %>
      </div>

      <div class="flex-1">
        <p class="w-full h-full whitespace-pre-line"><%= truncate note.content, length: 280 %></p>
      </div>

      <div class="flex justify-end">
        <small class="font-thin text-xs">
          <%= t("notes.index.edited_time_ago",
            time_ago: time_ago_in_words(note.updated_at, format: :short)) %>
        </small>
      </div>
    <% end %>
  </article>
</li>
