<% content_for :title, "Editing note" %>

<div class="flex flex-col items-center md:w-5/6 lg:w-2/3 w-full h-full p-2 gap-4">
  <nav class="flex w-full justify-between">
    <%= link_to notes_path,
      class: "p-2 rounded-lg" do %>
       <%= image_tag "arrow-left.svg", class: "w-6" %>
    <% end %>

    <div class="flex items-center gap-2">
      <%= button_to edit_note_path(@note),
        class: "p-2 rounded-lg" do %>
         <%= image_tag "star.svg", class: "w-6" %>
      <% end %>

      <%= button_to note_path(@note),
        method: :delete,
        data: { turbo_confirm: "Are you sure?" },
        class: "p-2 rounded-lg" do %>
         <%= image_tag "trash.svg", class: "w-6" %>
      <% end %>
    </div>
  </nav>

  <div class="flex-1 w-full">
    <%= render "form", note: @note %>
  </div>
</div>
