<% content_for :title, "Editing note" %>

<div class="flex flex-col md:w-5/6 lg:w-2/3 w-full h-full p-2 gap-4">
  <nav class="flex w-full justify-between">
    <%= link_to notes_path,
      class: "p-2 rounded-lg hover:bg-slate-100 focus:bg-slate-100" do %>
       <%= image_tag "arrow-left.svg", class: "w-6" %>
        <div class="sr-only"><%= t("shared.back_button") %></div>
    <% end %>

    <div class="flex items-center">
      <small class="text-xs font-light">
        <%= "Edited #{@note.updated_at}" %>
      </small>
    </div>

    <div class="flex items-center gap-2">
      <%= button_to edit_note_path(@note),
        class: "p-2 rounded-lg hover:bg-slate-100 focus:bg-slate-100" do %>
         <%= image_tag "star.svg", class: "w-6" %>
      <% end %>

      <%= button_to note_path(@note),
        method: :delete,
        data: { turbo_confirm: t(".confirm_destroy") },
        class: "p-2 rounded-lg hover:bg-slate-100 focus:bg-slate-100" do %>
         <%= image_tag "trash.svg", class: "w-6" %>
         <div class="sr-only"><%= t(".destroy_button") %></div>
      <% end %>
    </div>
  </nav>

  <div class="flex-1 w-full">
    <%= render "form", note: @note %>
  </div>
</div>
